html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
    font-family: 'Montserrat';
    font-weight: 700;
}

/* container */

.container {
    width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid red;
}

@media screen and (min-width: 768px) {
    container{
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
    container{
        width: 944px;
    }
}

/* header */

.header {
    background-color: aqua;
    padding-top: 19px;
}

.header .container {
    display: flex;
    flex-direction: column-reverse;
}

.logo {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.nav__list {
    display: flex;
    justify-content: center;
    margin-bottom: 112px;
}

.nav__item:not(:last-child) {
    margin-right: 4px;
}

.nav__item:last-child {
    background: rgba(26, 25, 21, 0.0001);
    border: 2px solid #FFFFFF;
    border-radius: 50px;
}

.nav__button {
    font-size: 13.9859px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background-color: transparent;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .header {
        padding-top: 36px;
    }
    .header .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .nav__list {
        margin-bottom: 0;
    }
}