.partners__button {
    font-size: 14.001px;
    line-height: 17px;
    color: #FF4E50;
    background-color: #FFFFFF;
    border: 2px solid #FF4E50;
    border-radius: 50px;
    padding: 12px 59px;
}